

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f0e3;">
  <div class="container">
    <a class="navbar-brand fw-bolder" href="#">MyIntrestS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav navbar-right ">
        <li class="nav-item nav-link" ><%= link_to 'Home', root_path %></li>
        <li class="nav-item nav-link"><%= link_to 'About Us', home_about_path %></li>
      </ul>

    </div>
  </div>
</nav>


