

<div class="jumbotron center">

<h1>Welcome to MyInterests!</h1>
<p>A website where you can find anything that passions you.</p>
<%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
<%= link_to "Join", new_user_registration_path, class: 'btn btn-danger' %>
</div>
